.pedraPapelTesoura{
    height: 100vh;
    width: 100vw;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ddb811c9;
}

.card{
    background-color: #ffffff84;
  
    min-height: 500px;
    min-width: 400px                    ;
  
    display: flex;
    flex-direction: column;
    align-items: center    ;
    justify-content: center; 
    gap:15px; 
  
    border-radius: 15%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.264);

    padding: 15px;

  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    color: #5d4701;
    font-size: 2em !important;
    font-weight: bold !important;
    margin: 0px !important;
}

input{  
    box-shadow: none !important;
}
.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
}
.input{
    display: flex;
    flex-direction: column;
}
.opcao{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5d4801af;
    gap: 10px;
    padding: 15px;

    width: 30%;
    border-radius: 15px;
}
svg{
    width: 35%; 
    height: 35%;      
}
button{
  background-color: transparent;
  color: #5d4701;
  border: 1px solid #5d4701;
  padding: 7px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.264);
  cursor: pointer;
  -webkit-transition: all 0.3s;
}

button:hover{
  scale:calc(1.03);
}