*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(212, 202, 56);

    height: 100vh;
    width: 100vw;
}

img{
    width: 300px;
    border-radius: 15px;
}

.container{
    background-color: white;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:stretch;

    width: 650px;

    padding: 25px;
}
button{
    padding:5px;
    background-color: rgb(195, 147, 3);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
h2{
    color:rgb(195, 147, 3);
    font-family: cursive;
    font-size: 35px;
}
